<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>answer</title>
  </head>
  <body>
    <hr />

    <p>You: <%= input %></p>

    <p>Bot: <%= output %></p>
    <hr />
    <form action="/chatbot">
      <input type="submit" value="Say something else" />
    </form>
  </body>
</html>
