<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatbot</title>
  </head>
  <body>
    <h1>Chat bot</h1>
    <p>
      Välkommen! Skriv här vad du undrar om och jag ska försöka svara på det.
    </p>
    <p>
      Här är några input som jag kan svara på: <br />
      -Hej! <br />
      -Jag mår bra. <br />
      -Var ligger Åva gymnasium? <br />
      -Hur mycket merit behöver man för Åva? <br />
      -När tar Åvagymnasium studenten? <br />
      -Hur mycket är ett e värt i merit? <br />
      -Tack för hjälpen <br />
    </p>
    <form action="/chatbot" method="POST">
      <label for="input">Input: </label>
      <input type="text" placeholder="your input" name="input" /><br /><br />
      <input type="submit" value="submit" />
    </form>
    <hr />
  </body>
</html>
